/* Write your CSS here */
.appointment-item {
  border: 1px solid #b5b7c4;
  width: 280px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 5px;
}
.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 15px;
  color: #171f46;
  font-weight: 400;
}
.star-icon {
  height: 20px;
  width: 20px;
}
.date {
  margin-top: 0px;
  font-size: 14px;
  color: #b5b7c4;
  font-weight: 500;
}

.appointment-item-container {
  list-style-type: none;
  padding-left: 0px;
  padding-left: 7px;
  display: flex;
  flex-direction: row;
}
.like-btn {
  border: 0px;
  background-color: transparent;
  outline: none;
}
